nodered_parking_flow.json
[
  {
    "id": "tab-parking",
    "type": "tab",
    "label": "Parking Simulator",
    "disabled": false,
    "info": "Симулятор IoT-датчиков парковочных мест.\nP-01..P-20 — постоянные, G-01..G-10 — гостевые.\nТопик: smartresidency/parking/spots/{spot_number}"
  },
  {
    "id": "mqtt-hivemq",
    "type": "mqtt-broker",
    "name": "HiveMQ SmartResidency",
    "broker": "e2279f1bd33640749aebe8fb50417c55.s1.eu.hivemq.cloud",
    "port": "8883",
    "clientid": "nodered-parking-sim",
    "autoConnect": true,
    "usetls": true,
    "tls": "tls-hivemq",
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "credentials": {
      "user": "backendTest-2",
      "password": "1234Abcd"
    }
  },
  {
    "id": "tls-hivemq",
    "type": "tls-config",
    "name": "HiveMQ TLS",
    "cert": "",
    "key": "",
    "ca": "",
    "servername": "e2279f1bd33640749aebe8fb50417c55.s1.eu.hivemq.cloud",
    "verifyservercert": true,
    "alpnprotocol": ""
  },

  {
    "id": "comment-how",
    "type": "comment",
    "z": "tab-parking",
    "name": "=== АЛГОРИТМ: датчик движения → 10 сек → подтверждение занятости ===",
    "info": "Как работает (аналог шлагбаума):\n1. Нажми «занято» → сразу уходит motion (машина въезжает на место)\n2. Через 10 секунд автоматически уходит occupied (машина осталась — подтверждено)\n3. Бэкенд проверяет barrier_events: въезжал ли владелец за 30 мин?\n   → Да (owner)  — пуш НЕ отправляем\n   → Нет (чужой) — FCM владельцу: «Ваше место занято»\n\n«Освобождено» — уходит сразу, задержки нет.\n\nИзменить место: двойной клик на inject → поменять payload на P-02, P-15 и т.д.",
    "x": 260,
    "y": 40,
    "wires": []
  },

  {
    "id": "inject-p-occupied",
    "type": "inject",
    "z": "tab-parking",
    "name": "Постоянное: машина въехала  ← изменить P-01",
    "props": [{ "p": "payload" }],
    "payload": "P-01",
    "payloadType": "str",
    "x": 230,
    "y": 120,
    "wires": [["fn-parking-occupied"]]
  },
  {
    "id": "inject-p-freed",
    "type": "inject",
    "z": "tab-parking",
    "name": "Постоянное: машина уехала  ← изменить P-01",
    "props": [{ "p": "payload" }],
    "payload": "P-01",
    "payloadType": "str",
    "x": 230,
    "y": 200,
    "wires": [["fn-parking-freed"]]
  },
  {
    "id": "inject-g-occupied",
    "type": "inject",
    "z": "tab-parking",
    "name": "Гостевое: машина въехала  ← изменить G-01",
    "props": [{ "p": "payload" }],
    "payload": "G-01",
    "payloadType": "str",
    "x": 230,
    "y": 280,
    "wires": [["fn-parking-occupied"]]
  },
  {
    "id": "inject-g-freed",
    "type": "inject",
    "z": "tab-parking",
    "name": "Гостевое: машина уехала  ← изменить G-01",
    "props": [{ "p": "payload" }],
    "payload": "G-01",
    "payloadType": "str",
    "x": 230,
    "y": 360,
    "wires": [["fn-parking-freed"]]
  },

  {
    "id": "fn-parking-occupied",
    "type": "function",
    "z": "tab-parking",
    "name": "motion + occupied (2 выхода)",
    "func": "var spot = msg.payload;\nvar motionMsg = {\n    payload: JSON.stringify({ spot_number: spot, event_type: 'motion' }),\n    topic: 'smartresidency/parking/spots/' + spot\n};\nvar occupiedMsg = {\n    payload: JSON.stringify({ spot_number: spot, event_type: 'occupied' }),\n    topic: 'smartresidency/parking/spots/' + spot\n};\nnode.warn('[parking] motion at ' + spot + ' — occupied in 10s');\nreturn [motionMsg, occupiedMsg];",
    "outputs": 2,
    "x": 530,
    "y": 200,
    "wires": [
      ["mqtt-out-parking"],
      ["delay-occupied"]
    ]
  },
  {
    "id": "delay-occupied",
    "type": "delay",
    "z": "tab-parking",
    "name": "Датчик (10 сек)",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 760,
    "y": 240,
    "wires": [["mqtt-out-parking"]]
  },

  {
    "id": "fn-parking-freed",
    "type": "function",
    "z": "tab-parking",
    "name": "freed (сразу)",
    "func": "var spot = msg.payload;\nmsg.payload = JSON.stringify({ spot_number: spot, event_type: 'freed' });\nmsg.topic = 'smartresidency/parking/spots/' + spot;\nnode.warn('[parking] freed: ' + spot);\nreturn msg;",
    "outputs": 1,
    "x": 530,
    "y": 320,
    "wires": [["mqtt-out-parking"]]
  },

  {
    "id": "mqtt-out-parking",
    "type": "mqtt out",
    "z": "tab-parking",
    "name": "→ parking/spots/{spot}",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "broker": "mqtt-hivemq",
    "x": 980,
    "y": 260,
    "wires": []
  },

  {
    "id": "comment-gate",
    "type": "comment",
    "z": "tab-parking",
    "name": "=== ПАРКИНГОВЫЙ ШЛАГБАУМ (gate_id: parking-gate) ===",
    "info": "Симулирует камеру на въезде в паркинг.\ngate_id='parking-gate' — именно эти события учитываются при проверке владельца места.\nЛогика: motion сразу → камера через 3 сек → бэкенд проверяет permit → открывает.",
    "x": 210,
    "y": 460,
    "wires": []
  },
  {
    "id": "inject-pgate-in",
    "type": "inject",
    "z": "tab-parking",
    "name": "Въезд в паркинг  ← изменить A777BC",
    "props": [{ "p": "payload" }],
    "payload": "A777BC",
    "payloadType": "str",
    "x": 210,
    "y": 520,
    "wires": [["fn-pgate-in"]]
  },
  {
    "id": "fn-pgate-in",
    "type": "function",
    "z": "tab-parking",
    "name": "parking-gate motion + camera",
    "func": "var plate = (msg.payload || 'A777BC').toString().trim().toUpperCase();\nvar motionMsg = {\n    payload: JSON.stringify({\n        sensor_id: 'motion-parking',\n        type: 'BARRIER_MOTION',\n        gate_id: 'parking-gate',\n        status: 'DETECTED',\n        direction: 'IN'\n    }),\n    topic: 'smartresidency/barrier/motion'\n};\nvar cameraMsg = {\n    payload: JSON.stringify({\n        sensor_id: 'camera-parking',\n        type: 'BARRIER_CAMERA',\n        gate_id: 'parking-gate',\n        direction: 'IN',\n        plate_number: plate,\n        confidence: 0.96,\n        status: 'RECOGNIZED'\n    }),\n    topic: 'smartresidency/barrier/camera/plate'\n};\nnode.warn('[parking-gate] IN: plate=' + plate);\nreturn [motionMsg, cameraMsg];",
    "outputs": 2,
    "x": 480,
    "y": 520,
    "wires": [
      ["mqtt-out-parking"],
      ["delay-pgate"]
    ]
  },
  {
    "id": "delay-pgate",
    "type": "delay",
    "z": "tab-parking",
    "name": "Камера (3 сек)",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 720,
    "y": 560,
    "wires": [["mqtt-out-parking"]]
  },

  {
    "id": "comment-auto",
    "type": "comment",
    "z": "tab-parking",
    "name": "=== АВТО СИМУЛЯЦИЯ (отключена по умолчанию) ===",
    "info": "Включить: двойной клик → снять галку Disabled → Deploy",
    "x": 210,
    "y": 460,
    "wires": []
  },
  {
    "id": "inject-auto",
    "type": "inject",
    "z": "tab-parking",
    "d": true,
    "name": "Авто: случайное место каждые 90 сек",
    "props": [{ "p": "payload" }],
    "repeat": "90",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 520,
    "wires": [["fn-auto-random"]]
  },
  {
    "id": "fn-auto-random",
    "type": "function",
    "z": "tab-parking",
    "name": "Случайное место и событие",
    "func": "var permanent = [];\nfor (var i = 1; i <= 20; i++) permanent.push('P-' + (i < 10 ? '0' : '') + i);\nvar guest = [];\nfor (var j = 1; j <= 10; j++) guest.push('G-' + (j < 10 ? '0' : '') + j);\nvar all = permanent.concat(guest);\nvar spot = all[Math.floor(Math.random() * all.length)];\nvar eventType = Math.random() > 0.5 ? 'occupied' : 'freed';\nnode.warn('[parking-auto] spot=' + spot + ' event=' + eventType);\nmsg.payload = JSON.stringify({ spot_number: spot, event_type: eventType });\nmsg.topic = 'smartresidency/parking/spots/' + spot;\nreturn msg;",
    "outputs": 1,
    "x": 490,
    "y": 520,
    "wires": [["mqtt-out-parking"]]
  }
]
